/* .wrapper {
    display: flex;
    flex-direction: column;
} */

.name {
    font-weight: bold;
}

.btn-save {
    padding: 5px 10px;
    background-color: rgb(225, 84, 84);
    border: none;
    margin-top: 25px;
    border-radius: 5px;
    font-style: bold;
    cursor: pointer;
}

.btn-save:hover {
    background-color: rgb(255, 0, 0);
    color: white;
    transition: 0.2s;
}