{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/placement.css' %}">
{% endblock %}


{% block content %}
<div class = 'wrapper'>
    <form method="POST" action="/customer/placement/{{placement.id}}/" enctype="multipart/form-data">
        {% csrf_token %} 
        <div class='info'>
            <span class="name">Название поверхности: </span>
            <span class="value">
                <select name="surface" >
                    {% for surface in surface_list  %}
                    <option value="{{surface.id}}" {% if surface.id == placement.surface.id %} selected {% endif %}>{{surface.name}}</option>
                    {% endfor %}

                </select>
            </span>
        </div>
        <div class='info'>
            <span class="name">Дата начала размещения: </span>
            <span><input type="date" value="{{placement.start_at|date:"d.m.Y"}}" name="start_at"></span>
        </div>
        <div class='info'>
            {% if placement.reconciliation %}
            <span class="name">Акт: </span>
            <span><a href='{{placement.reconciliation.url}}' download='download'>Акт</a>
            {% else %} 
            <span>Акт: </span>
            <span>-
            {% endif %}
            <input type="file" name="reconciliation"></span>
        </div>
        <input class="btn-save" type="submit" value="Сохранить"/>
    </form>
</div>
{% endblock %}